<section>
  <div class="page-header">
    <h1>Finances</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="finance in vm.finances"
       ui-sref="finances.view({ financeId: finance._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="finance.created | date:'mediumDate'"></span>
        by
        <span ng-if="finance.user" ng-bind="finance.user.displayName"></span>
        <span ng-if="!finance.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="finance.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.finances.$resolved && !vm.finances.length">
    No Finances yet, why don't you <a ui-sref="finances.create">create one</a>?
  </div>
</section>
