<section>
  <div class="page-header">
    <h1>{{vm.planning._id ? 'Editer Planning' : 'Ajouter Planning'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.planningForm" class="form-horizontal" ng-submit="vm.save(vm.form.planningForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="week">Nom:</label>
          <input name="name" type="text" class="form-control" id="name" ng-model="vm.planning.name" id="name" required>
          <div ng-messages="vm.form.planningForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ajouter un nom.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="week">Début:</label>
          <input name="start" type="date" class="form-control" id="start" ng-model="vm.planning.start" id="start" required>
          <div ng-messages="vm.form.planningForm.start.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ajouter une semaine.</p>
          </div>

          <label class="control-label" for="week">Fin:</label>
          <input name="end" type="date" class="form-control" id="end" ng-model="vm.planning.end" id="end" required>
          <div ng-messages="vm.form.planningForm.end.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ajouter une semaine.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="team">Equipe:</label>
          <select name="team" ng-model="vm.planning.team" id="team" class="form-control">
            <option value="" disabled selected>Choisissez une Equipe</option>
            <option value="{{team._id}}" ng-repeat="team in teams">
                {{team.name}}
            </option>
          </select>
          <div ng-messages="vm.form.employeForm.team.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Equipe requise.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="sites">Site:</label>
          <!-- <input name="sites" type="text" ng-model="vm.team.sites" id="sites" class="form-control" placeholder="Ex: La Coulée Verte" required> -->
          <select name="site" ng-model="vm.planning.site" id="site" class="form-control">
            <option value="" disabled selected>Choisissez un Site</option>
            <option value="{{site._id}}" ng-repeat="site in sites">
                {{ site.properties.nom }}
            </option>
          </select>
          <div ng-messages="vm.form.teamForm.sites.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Site requis.</p>
          </div>
        </div>

        <!-- <div class="form-group" show-errors>
          <label class="control-label" for="tasks">Tâches à réaliser:</label>
          <input name="tasks" type="text" ng-model="vm.planning.tasks" id="tasks" class="form-control" placeholder="Ex: Désherbage..." required>
          <div ng-messages="vm.form.planningForm.tasks.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ajouter des tâches.</p>
          </div>
        </div> -->
        <label class="control-label" for="tasks">Tâches:</label>
        <isteven-multi-select input-model="tasksList" output-model="outputList" ng-model="vm.planning.tasks" name="tasks" id="task" button-label="icon name frequence" item-label="icon name frequence" translation="localLang" tick-property="ticked"></isteven-multi-select>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.planning._id ? 'Mettre à jour' : 'Créer'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
