<section>
  <div class="page-header">
    <h1 ng-bind="vm.planning.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.planning.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="plannings.edit({ planningId: vm.planning._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.planning.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.planning.user"
            ng-bind="vm.planning.user.displayName"></span>
      <span ng-if="!vm.planning.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.planning.name"></p>
  <p class="lead" ng-bind="vm.planning.start"></p>
  <p class="lead" ng-bind="vm.planning.end"></p>
  <p class="lead" ng-bind="vm.planning.team"></p>
  <p class="lead" ng-bind="vm.planning.site"></p>
  <p class="lead" ng-bind="vm.planning.tasks[0]"></p>
</section>
