<section>
  <div class="page-header">
    <h1 ng-bind="vm.planning.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.planning.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="plannings.edit({ planningId: vm.planning._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.planning.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.planning.user"
            ng-bind="vm.planning.user.displayName"></span>
      <span ng-if="!vm.planning.user">Deleted User</span>
    </em>
  </small>
  <label for="name">Nom:</label>
  <p class="lead" name="name" ng-bind="vm.planning.name"></p>
  <label for="start">Du:</label>
  <p class="lead" name="start" ng-bind="vm.planning.start| date: 'yyyy-MM-dd'"></p>
  <label for="end">Au:</label>
  <p class="lead" name="end" ng-bind="vm.planning.end | date: 'yyyy-MM-dd'"></p>
  <label for="team">Equipe:</label>
  <p class="lead" name="team" ng-bind="vm.planning.team"></p>
  <label for="site">Site(s):</label>
  <p class="lead" name="site" ng-bind="vm.planning.sites"></p>
  <label for="tasks">Tâches réaliser:</label>
  <p class="lead" name="tasks" ng-bind="vm.planning.tasks"></p>
</section>
