<section>
  <div class="page-header">
    <h1>Données RH</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="rhdata in vm.rhdatas"
       ui-sref="rhdatas.view({ rhdataId: rhdata._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="rhdata.created | date:'mediumDate'"></span>
        by
        <span ng-if="rhdata.user" ng-bind="rhdata.user.displayName"></span>
        <span ng-if="!rhdata.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="rhdata.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.rhdatas.$resolved && !vm.rhdatas.length">
    No Rhdatas yet, why don't you <a ui-sref="rhdatas.create">create one</a>?
  </div>
</section>
