<section>
  <div class="page-header">
    <h1 ng-bind="vm.lot.properties.nom"></h1>
  </div>

  <div class="pull-right" ng-show="vm.lot.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="lots.edit({ lotId: vm.lot._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>

    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
    <em class="text-muted">
      Créé
      <span ng-bind="vm.lot.created | date:'mediumDate'"></span>
      par
      <span ng-if="vm.lot.user"
      ng-bind="vm.lot.user.displayName"></span>
      <span ng-if="!vm.lot.user">Deleted User</span>
    </em>
  </small>

  <div id="infos"></div>
</section>
