<section>
  <div class="page-header">
    <h1 ng-bind="vm.lot.properties.nom"></h1>
  </div>

  <div class="pull-right" ng-show="vm.lot.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="lots.edit({ lotId: vm.lot._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>

    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
    <em class="text-muted">
      Créé
      <span ng-bind="vm.lot.created | date:'mediumDate'"></span>
      par
      <span ng-if="vm.lot.user"
      ng-bind="vm.lot.user.displayName"></span>
      <span ng-if="!vm.lot.user">Deleted User</span>
    </em>
  </small>

  <div id="infos"></div>

  <div class="row" ui-view="replies"></div>

  <section ng-controller="RepliesController as vm" ng-init="vm.find()">
  <div class="container">
    <div>
      <h4>Avis</h4>
    </div>

    <!-- Top Level Reply form - only shows after reply clicked -->
    <div class="row">
      <div ng-if="vm.topReplyAvailable" class="col-md-8">
        <div ng-show="vm.topReplyCollapsed">
          <button class="btn btn-primary btn-sm" ng-click="vm.topReplyCollapsed = !vm.topReplyCollapsed">
            Répondre
          </button>
        </div>

        <div uib-collapse="vm.topReplyCollapsed">
          <div class="form-group">
            <label for="topReply">Entrez votre avis sur ce Lot:</label>
            <textarea name="topReply" ng-model="vm.topReply.content" class="form-control" rows="3"></textarea>
          </div>
          
            <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.createTop()">Envoyer</button>
            <button class="btn btn-default btn-sm" ng-click="vm.topReplyCollapsed=true;vm.cancelTopReply();">Annuler</button>
            <div ng-show="vm.topReply.error" class="text-danger">
              <strong ng-bind="vm.topReply.error"></strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> &nbsp;</div>
      <div class="row">
        <div class="post-replies">
            <form name="replyForm">
              <div class="media" ng-repeat="reply in vm.replies">
                <show-replies reply="reply"></show-replies>
              </div>
            </form>
        </div>
      </div>
  </div>
  </section>

</section>
