<section>
  <div class="page-header">
    <h1>{{vm.inventory._id ? 'Edit Inventory' : 'New Inventory'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.inventoryForm" class="form-horizontal" ng-submit="vm.save(vm.form.inventoryForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="filter">Type</label>
          <select name="filter" ng-model="vm.inventory.filter" id="filter" class="form-control">
            <option value="" disabled selected>Choisissez un type</option>
            <option value="{{filter.name}}" ng-repeat="filter in filters">
                {{ filter.name }}
            </option>
          </select>
          <div ng-messages="vm.form.inventoryForm.filter.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Inventory filter is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nom</label>
          <input name="name" type="text" ng-model="vm.inventory.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.inventoryForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Inventory name is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="model">Modèle</label>
          <input name="model" type="text" ng-model="vm.inventory.model" id="model" class="form-control" placeholder="model" required>
          <div ng-messages="vm.form.inventoryForm.model.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Inventory model is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="quantity">Quantité</label>
          <input name="quantity" type="text" ng-model="vm.inventory.quantity" id="quantity" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.inventoryForm.quantity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Inventory quantity is required.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.inventory._id ? 'Update' : 'Create'}}</button>
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
