<section>
  <h1>Inventaires</h1>
  <div class="list-group">
    <!-- <a ng-repeat="inventory in vm.inventories" ui-sref="inventories.view({ inventoryId: inventory._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="inventory.created | date:'mediumDate'"></span>
        by
        <span ng-if="inventory.user" ng-bind="inventory.user.displayName"></span>
        <span ng-if="!inventory.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="inventory.name"></h4>
    </a> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col">Nom</th>
          <th scope="col">Modèle</th>
          <th scope="col">N° série</th>
          <th scope="col">Date d'achat</th>
          <th scope="col">Lieu d'achat</th>
          <th scope="col">Catégorie</th>
          <th scope="col">Quantité</th>
          <th scope="col">Garantie</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in items">
          <td>{{ $index + 1 }}</td>
          <td><a ui-sref="inventories.view({ inventoryId: x._id })">{{ x.name }}</a></td>
          <td>{{ x.model }}</td>
          <td>{{ x.serial_number }}</td>
          <td>{{ x.purchase_date | date: 'dd MMMM yyyy' }}</td>
          <td>{{ x.place_of_purchase }}</td>
          <td>{{ x.category }}</td>
          <td>{{ x.quantity }}</td>
          <td>{{ x.warenty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="alert alert-warning text-center" ng-if="vm.inventories.$resolved && !vm.inventories.length">
    No Inventories yet, why don't you <a ui-sref="inventories.create">create one</a>?
  </div>
</section>
