<section>
  <div class="page-header">
    <h1>Inventories</h1>
  </div>
  <!-- <div class="list-group">
    <a ng-repeat="inventory in vm.inventories"
       ui-sref="inventories.view({ inventoryId: inventory._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="inventory.created | date:'mediumDate'"></span>
        by
        <span ng-if="inventory.user" ng-bind="inventory.user.displayName"></span>
        <span ng-if="!inventory.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="inventory.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.inventories.$resolved && !vm.inventories.length">
    No Inventories yet, why don't you <a ui-sref="inventories.create">create one</a>?
  </div> -->

  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
			<thead>
			<tr>
        <th st-sort="getters.firstName">Type</th>
    		<th st-sort="lastName">Nom</th>
    		<th st-sort="birthDate">Modèle</th>
    		<th st-sort="balance" st-skip-natural="true" >Quantité</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in rowCollection">
				<td>{{ row.filter }}</td>
				<td>{{ row.name }}</td>
				<td>{{ row.model }}</td>
				<td>{{ row.quantity }}</td>
				<td>
				<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				</td>
			</tr>
			</tbody>
		</table>
</section>
