<section>
  <label for="name">Nom:</label>
  <h1 name="name" ng-bind="vm.inventory.name"></h1>

  <div class="pull-right" ng-show="vm.inventory.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="inventories.edit({ inventoryId: vm.inventory._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <div class="container">
    <label for="purchase_date">Date d'achat:</label>
    <p class="lead" name="purchase_date" ng-bind="vm.inventory.purchase_date | date: 'EEEE dd MMMM yyyy'"></p>
    <label for="place_of_purchase">Lieu d'achat:</label>
    <p class="lead" name="place_of_purchase" ng-bind="vm.inventory.place_of_purchase"></p>
    <label for="warenty">Garantie</label>
    <p class="lead" name="warenty" ng-bind="vm.inventory.warenty"></p>
    <label for="serial_number">N° de série</label>
    <p class="lead" name="serial_number" ng-bind="vm.inventory.serial_number"></p>
    <label for="model">Modèle:</label>
    <p class="lead" name="model" ng-bind="vm.inventory.model"></p>
    <label for="category">Catégorie:</label>
    <p class="lead" name="category" ng-bind="vm.inventory.category"></p>
    <label for="quantity">Quantité:</label>
    <p class="lead" name="quantity" ng-bind="vm.inventory.quantity"></p>      
  </div>
</section>
