<section>
	<div class="container">
		<div class="title">
			<h1>LABEL EVE / ORGANISME ECOCERT</h1>
		</div>
		<p>
			La Mairie de Villeneuve-la-Garenne s’engage dans la démarche de label EVE (ou Espace Végétal Ecologique) pour une partie des Espaces Verts Municipaux. 
			Deux des lots que nous entretenons pour eux relèvent de cette approche, à savoir le site dit de « La Coulée Verte » (lot n°1) et le square Abbé Pierre (lot n°11).
		</p>
		<p>
			Le label EVE est un label international développé par l’organisme de certifications ECOCERT en 2006, à la demande des gestionnaires et professionnels des espaces végétaux et de l’environnement. 
			Le référentiel EVE est destiné à encourager, crédibiliser et valoriser les pratiques durables et écologiques des professionnels et gestionnaires d’espaces végétaux. Il leur fixe un cadre et les guide dans la mise en œuvre de pratiques durables et écologiques dans une logique de développement durable.
			Les quatre critères fondamentaux à respecter et mettre en œuvre pour obtenir ce label sont les suivantes : 
			<ul class="list">
				<li>Pas d’utilisation de produits phytopharmaceutiques de synthèse, non utilisables en agriculture biologique.</li>
				<li>Economie d’eau et d’énergie (pas d’arrosage, plantations adaptées au milieu et au climat, matériel électrique plutôt que moteurs essence, etc).</li>
				<li>Une attention au sol (permettre sa régénérescence naturelle par exemple).</li>
				<li>Des pratiques en faveur de la biodiversité et du maintien des plantes spontanées.</li>
			</ul>
		</p>

		<p>
			Sur nos deux sites concernés, nous mettons ainsi peu à peu en œuvre une gestion différenciée des espaces végétaux, qui tient compte de ces critères, comme de l’usage de ces sites par le public villénogarennois. 
			Ainsi, à la Coulée Verte, des espaces naturels sont laissés en jachère ou prairie naturelle, les arbustes sont taillés à la main, les plantes locales poussées spontanément sont préservées. Mais pour respecter l’usage que le public a de ce terrain, comme par exemple des pique-niques ou siestes à l’ombre, des espaces ont été tondus de façon plus classique sous les arbres. Dans les prairies en jachère, des chemins ont été dessinés afin de permettre au public de circuler comme il en a l’habitude, selon des tracés consacrés par l’usage. 
			Au square Abbé Pierre, où l’usage du public est intensif, tant sur les aires de jeux que sur les pelouses, la tonte est classique. Mais dans les massifs, la gestion différenciée s’applique tant pour la taille que pour le désherbage. Les sols sont protégés par une végétation couvrante qui limite les besoins en eau, en l’absence d’arrosage.
		</p>
	</div>
</section>