<div class="" ng-controller="HomeController">
  <div class="col-md-7 col-xs-12">
    <div class="row">
      <leaflet center="center" geojson="geojson" controls="controls" markers="markers" defaults="defaults" legend="legend" url-hash-center="yes" tiles ="tiles" width="100%" height="93vh"></leaflet>
    </div>
  </div>

  <div class="col-md-5 col-xs-12">
    <h1></h1>
    <div id="map-info" class="displayHome">
      <script type="text/javascript">
        showResultsInDiv();
      </script>
    </div>

    <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel" ng-repeat="lot in lots">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ lot.properties.ID }}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">{{ lot.properties.nom }}</a>
          </h4>
        </div>
        <div id="{{ lot.properties.ID }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0;" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <script type="text/javascript">
              showResultsInDiv();
            </script>
            <p class="siteInfos"><img src="{{ lot.properties.image1 }}" alt=""/></p>
            <p class="siteInfos"><img src="{{ lot.properties.image2 }}" alt=""/></p>
            <p class="siteInfos"><img src="{{ lot.properties.image3 }}" alt=""/></p>
            <p class="siteInfos"><img src="{{ lot.properties.image4 }}" alt=""/></p>
            <p class="siteInfos"><img src="{{ lot.properties.image5 }}" alt=""/></p>
            <p class="siteInfos">{{ lot.properties.description }}</p>
            <br>
            <p class="siteInfos">{{ lot.properties.taches }}</p>
            <br>
            <div data-ng-controller="ContactFormController as vm">
              <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
                <md-content class="md-padding">
                  <form name="contactForm" data-ng-submit="vm.sendMail()">
                    <md-input-container>
                      <label for="name">Nom:</label>
                      <input type="text" name="name" placeholder="Azerty" data-ng-model="vm.contactName">
                    </md-input-container>

                    <md-input-container>
                      <label for="email">Email:</label>
                      <input type="email" name="email" placeholder="azerty@test.fr" data-ng-model="vm.contactEmail">
                    </md-input-container>

                    <md-input-container>
                      <label for="message">Message:</label>
                      <textarea name="message" columns="1" required data-ng-model="vm.contactMsg"></textarea>
                    </md-input-container>

                    <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1':(contactForm.$dirty && contactForm.$valid)}">Envoyer</md-button>
                  </form>
                </md-content>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end of panel -->
    </div>
  </div>
</div>