<div class="columnsContainer" ng-controller="HomeController">
  <div class="leftColumn">
  <h1>Carto</h1>
    <div class="map container">
      <leaflet center="center" geojson="geojson" controls="controls" markers="markers" defaults="defaults" legend="legend" url-hash-center="yes" tiles ="tiles" width="100%" height="93vh"></leaflet>
    </div>
  </div>
  
  <div class="rightColumn displayHome">
    <h1>Accueil</h1>
    <div id="map-info">
      <script type="text/javascript">
        showResultsInDiv();
      </script>
    </div>
  </div>
</div>