<section>
  <div class="page-header">
    <h1>{{vm.employe._id ? 'Modifier Employé' : 'Ajouter Employé'}}</h1>
  </div>
  <div class="col-md-12">
    <!--  name="vm.form.employeForm"  -->
    <form class="form-horizontal" name="employeForm" ng-submit="createEmploye()" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="lastname">Nom:</label>
          <input name="lastname" type="text" ng-model="employe.lastname" id="lastname" class="form-control" placeholder="Nom">
          <div ng-messages="vm.form.employeForm.lastname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nom requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="firstname">Prénom:</label>
          <input name="firstname" type="text" ng-model="employe.firstname" id="firstname" class="form-control" placeholder="Prénom">
          <div ng-messages="vm.form.employeForm.firstname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Prénom requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email:</label>
          <input name="email" type="text" ng-model="employe.email" id="email" class="form-control" placeholder="Ex: example@example.com">
          <div ng-messages="vm.form.employeForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="team">Equipe:</label>
          <!-- ng-options="team as team.name for team in teams"  -->
          <select name="team" ng-model="employe.team" id="team" class="form-control">
            <option value="" disabled selected>Choisissez une Equipe</option>
            <option value="{{team._id}}" ng-repeat="team in teams">
                {{team.name}}
            </option>
          </select>
          <div ng-messages="vm.form.employeForm.team.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Equipe requise.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="contract">Contrat:</label>
          <input name="contract" type="text" ng-model="employe.contract" id="contract" class="form-control" placeholder="Ex: CDD">
          <div ng-messages="vm.form.employeForm.contract.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Formation:</label>
          <input name="formation" type="text" ng-model="employe.formation" id="formation" class="form-control" placeholder="Formation">
          <div ng-messages="vm.form.employeForm.formation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Formation est requis.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default" value="{{vm.employe._id ? 'Mettre à jour' : 'Créer'}}">
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<!-- <section>
  <div class="page-header">
    <h1>{{vm.employe._id ? 'Modifier Employé' : 'Ajouter Employé'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.employeForm" class="form-horizontal" ng-submit="vm.save(vm.form.employeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="lastname">Nom:</label>
          <input name="lastname" type="text" ng-model="vm.employe.lastname" id="lastname" class="form-control" placeholder="Nom" required>
          <div ng-messages="vm.form.employeForm.lastname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nom requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="firstname">Prénom:</label>
          <input name="firstname" type="text" ng-model="vm.employe.firstname" id="firstname" class="form-control" placeholder="Prénom" required>
          <div ng-messages="vm.form.employeForm.firstname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Prénom requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email:</label>
          <input name="email" type="text" ng-model="vm.employe.email" id="email" class="form-control" placeholder="Ex: example@example.com" required>
          <div ng-messages="vm.form.employeForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="team">Equipe:</label>
          <select name="team" ng-model="vm.employe.team" id="team" class="form-control" ng-options="team as team.name for team in teams" required>
            <option value="">->-- Choisissez une équipe --<-</option>
          </select>
          <div ng-messages="vm.form.employeForm.team.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Equipe requise.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="contract">Contrat:</label>
          <input name="contract" type="text" ng-model="vm.employe.contract" id="contract" class="form-control" placeholder="Ex: CDD" required>
          <div ng-messages="vm.form.employeForm.contract.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Formation:</label>
          <input name="formation" type="text" ng-model="vm.employe.formation" id="formation" class="form-control" placeholder="Formation" required>
          <div ng-messages="vm.form.employeForm.formation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Formation est requis.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.employe._id ? 'Mettre à jour' : 'Créer'}}</button>
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section> -->