<section>
  <h1>{{vm.employe._id ? 'Modifier Employé' : 'Ajouter Employé'}}</h1>
  <div class="col-md-12">
    <form name="vm.form.employeForm" class="form-horizontal" ng-submit="vm.save(vm.form.employeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="lastname">Nom:</label>
          <input name="lastname" type="text" ng-model="vm.employe.lastname" id="lastname" class="form-control" placeholder="Nom" required>
          <div ng-messages="vm.form.employeForm.lastname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="firstname">Prénom:</label>
          <input name="firstname" type="text" ng-model="vm.employe.firstname" id="firstname" class="form-control" placeholder="Prénom" required>
          <div ng-messages="vm.form.employeForm.firstname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requis.</p>
          </div>
        </div>

        <!-- <div class="text-center form-group" ng-hide="uploader.queue.length">
          <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
          </span>
        </div>
        <div class="text-center form-group" ng-show="uploader.queue.length">
          <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
          <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div> -->

        <div class="form-group" show-errors>
          <label class="control-label" for="email">Email:</label>
          <input name="email" type="text" ng-model="vm.employe.email" id="email" class="form-control" placeholder="Ex: example@example.com" required>
          <div ng-messages="vm.form.employeForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="number">Numéro:</label>
          <input name="number" type="text" ng-model="vm.employe.number" id="number" class="form-control" placeholder="Ex: 0102030405" required>
          <div ng-messages="vm.form.employeForm.number.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="status">Status:</label>
          <select name="status" ng-model="vm.employe.status" id="status" class="form-control">
            <option value="" disabled selected>Status</option>
            <option value="{{ status.name }}" ng-repeat="status in status">
                {{status.name}}
            </option>
          </select>
          <div ng-messages="vm.form.employeForm.team.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="team">Équipe:</label>
          <select name="team" ng-model="vm.employe.team" id="team" class="form-control">
            <option value="" disabled selected>Équipe</option>
            <option value="{{ team.name }}" ng-repeat="team in teams">
                {{team.name}}
            </option>
          </select>
          <div ng-messages="vm.form.employeForm.team.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requis.</p>
          </div>
        </div>
        
        <div class="form-group" show-errors>
          <label class="control-label" for="contrat">Contrat:</label>
          <select name="contrat" ng-model="vm.employe.contrat" id="contrat" class="form-control">
            <option value="" disabled selected>Contrat</option>
            <option value="{{ contrat.name }}" ng-repeat="contrat in contrats">
                {{contrat.name}}
            </option>
          </select>
          <div ng-messages="vm.form.employeForm.contrat.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requise.</p>
          </div>
        </div>

        <div class="form-group" show-error>
          <label class="control-label" for="start_date">Début</label>
          <input name="start_date" type="date" ng-model="vm.employe.start_date" id="start_date">
        </div>

        <div class="form-group" show-error>
          <label for="end_date" class="control-label">Fin</label>
          <input name="end_date" type="date" ng-model="vm.employe.end_date" id="end_date">
        </div>

        <div class="form-group" show-error>
          <label for="renew" class="control-label">Renouvelement</label>
          <input name="renew" type="date" ng-model="vm.employe.renew" id="renew">
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="name">Formation:</label>
          <input name="formation" type="text" ng-model="vm.employe.formation" id="formation" class="form-control" placeholder="Formation" required>
          <div ng-messages="vm.form.employeForm.formation.$error" role="alert">
            <p class="help-block error-text" ng-message="required">requis.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.employe._id ? 'Mettre à jour' : 'Créer'}}</button>
        </div>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
