<section>
  <div class="page-header">
    <h1 ng-bind="vm.employe.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.employe.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="employes.edit({ employeId: vm.employe._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Publié le
      <span ng-bind="vm.employe.created | date:'mediumDate'"></span>
      par
      <span ng-if="vm.employe.user"
            ng-bind="vm.employe.user.displayName"></span>
      <span ng-if="!vm.employe.user">Deleted User</span>
    </em>
  </small>
  <label for="">Prénom:</label>
  <p class="lead" ng-bind="vm.employe.lastname"></p>

  <label for="">Nom:</label>
  <p class="lead" ng-bind="vm.employe.firstname"></p>

  <label for="">Email:</label>
  <p class="lead" ng-bind="vm.employe.email"></p>

  <label for="">N° Tél:</label>
  <p class="lead" ng-bind="vm.employe.number"></p>

  <label for="">Equipe:</label>
  <p class="lead" ng-bind="vm.employe.team"></p>

  <label for="">Contrat:</label>
  <p class="lead" ng-bind="vm.employe.contract"></p>

  <label for="">Début contrat:</label>
  <p class="lead" ng-bind="vm.employe.start_date"></p>

  <label for="">Fin contrat</label>
  <p class="lead" ng-bind="vm.employe.end_date"></p>

  <label for="">Renouvelement</label>
  <p class="lead" ng-bind="vm.employe.renew"></p>

  <label for="">Formation(s):</label>
  <p class="lead" ng-bind="vm.employe.formation"></p>
</section>
