<section>
  <div class="pull-right"
       ng-show="vm.employe.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="employes.edit({ employeId: vm.employe._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Publié le
      <span ng-bind="vm.employe.created | date:'mediumDate'"></span>
      par
      <span ng-if="vm.employe.user"
            ng-bind="vm.employe.user.displayName"></span>
      <span ng-if="!vm.employe.user">Deleted User</span>
    </em>
  </small>
  <label for="lastname">Nom:</label>
  <p class="lead" name="" ng-bind="vm.employe.lastname"></p>

  <label for="firstname">Prénom:</label>
  <p class="lead" name="" ng-bind="vm.employe.firstname"></p>

  <p ng-bind="vm.employe.profileImageURL"></p>

  <label for="email">Email:</label>
  <p class="lead" name="" ng-bind="vm.employe.email"></p>

  <label for="number">N° Tél:</label>
  <p class="lead" name="" ng-bind="vm.employe.number"></p>

  <label for="team">Equipe:</label>
  <p class="lead" name="" ng-bind="vm.employe.team"></p>

  <label for="contrat">Contrat:</label>
  <p class="lead" name="" ng-bind="vm.employe.contrat"></p>

  <label for="start_date">Début contrat:</label>
  <p class="lead" name="" ng-bind="vm.employe.start_date | date: 'dd MMM yyyy'"></p>

  <label for="end_date">Fin contrat</label>
  <p class="lead" name="" ng-bind="vm.employe.end_date | date: 'dd MMM yyyy'"></p>

  <label for="renew">Renouvelement</label>
  <p class="lead" name="" ng-bind="vm.employe.renew | date: 'dd MMM yyyy'"></p>

  <label for="formation">Formation(s):</label>
  <p class="lead" name="" ng-bind="vm.employe.formation"></p>
</section>
