<section>
  <div class="page-header">
    <h1>{{vm.employe.nom}} {{vm.employe.prenom}}</h1>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-12 col-md-auto">
        <p class="lead">Référent: {{vm.employe.responsable}}</p>
        <p class="lead">Adresse: {{vm.employe.adresse}}</p>
        <p class="lead">Ville: {{vm.employe.ville}}</p>
        <p class="lead">Code postal {{vm.employe.code_postal}}</p>
        <p class="lead">Email: {{vm.employe.email}}</p>
        <p class="lead">Téléphone: {{vm.employe.telephone}}</p>
        <p class="lead">Contrat: {{vm.employe.type}}</p>
        <p class="lead">Du: {{vm.employe.debutContrat}} au: {{vm.employe.finContrat}}</p>
        <p class="lead">Renouvelé : {{vm.employe.renouvContrat}}</p>
        <p class="lead">Au: {{vm.emplye.finRenouvContrat}}</p>
      </div>

    </div>
  </div>

</section>
