<section>
  <div class="page-header">
    <h1 ng-bind="vm.employee.lastname"></h1>
    <h3 ng-bind="vm.employee.firstname"></h3>
    <!-- <img ng-src="{{employee.profileImageURL}}" alt="{{employee.displayName}}" class="header-profile-image" /> -->
  </div>
  <p class="lead" ng-bind="vm.employee.email"></p>
  <p class="lead" ng-bind="vm.employee.contract"></p>
  <p class="lead" ng-bind="vm.employee.training"></p>
  <div class="pull-right"
  ng-show="vm.employee.isCurrentUserOwner">
  <a class="btn btn-primary"
  ui-sref="employees.edit({ employeeId: vm.employee._id })">
  <i class="glyphicon glyphicon-edit"></i>
</a>
<a class="btn btn-primary" ng-click="vm.remove()">
  <i class="glyphicon glyphicon-trash"></i>
</a>
</div>
  <small>
    <em class="text-muted">
      Enregistré le:
      <span ng-bind="vm.employee.created | date:'mediumDate'"></span>
      par:
      <span ng-if="vm.employee.user"
      ng-bind="vm.employee.user.displayName"></span>
      <span ng-if="!vm.employee.user">Supprimer</span>
    </em>
  </small>
</section>
