<section>
  <div class="page-header">
    <h1>{{vm.team._id ? 'Modifier équipe' : 'Ajouter équipe'}}</h1>
  </div>

  <div class="col-md-12">
    <form name="teamForm" class="form-horizontal" ng-submit="createTeam()" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nom:</label>
          <input name="name" type="text" ng-model="vm.team.name" id="name" class="form-control" placeholder="Nom" required>
          <div ng-messages="vm.form.teamForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le nom de l'équipe est requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="sites">Site:</label>
          <input name="sites" type="text" ng-model="vm.team.sites" id="sites" class="form-control" placeholder="Ex: La Coulée Verte" required>
          <div ng-messages="vm.form.teamForm.sites.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le site de l'équipe est requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="team">Membres:</label>
          <!-- ng-options="employe as employe.name for employe in employes" -->
          <select name="member" ng-model="vm.team.member" id="member" class="form-control" required>
            <option value="" disabled selected>Choisissez des membres</option>
            <option value="{{employe._id}}" ng-repeat="employe in employes">
                {{employe.lastname}} {{employe.firstname}}
            </option>
          </select>
          <div ng-messages="vm.form.teamForm.member.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Equipe requise.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.team._id ? 'Mettre à jour' : 'Créer'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
