<section>
  <div class="page-header">
    <h1>{{vm.team._id ? 'Modifier équipe' : 'Ajouter équipe'}}</h1>
  </div>

  <div class="col-md-12">
    <form name="vm.form.teamForm" class="form-horizontal" ng-submit="vm.save(vm.form.teamForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nom:</label>
          <input name="name" type="text" ng-model="vm.team.name" id="name" class="form-control" placeholder="Nom" required>
          <div ng-messages="vm.form.teamForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Nom requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="sites">Site:</label>
          <!-- <input name="sites" type="text" ng-model="vm.team.sites" id="sites" class="form-control" placeholder="Ex: La Coulée Verte" required> -->
          <select name="site" ng-model="vm.team.site" id="site" class="form-control">
            <option value="" disabled selected>Choisissez un Site</option>
            <option value="{{site._id}}" ng-repeat="site in sites">
                {{ site.properties.nom }}
            </option>
          </select>
          <div ng-messages="vm.form.teamForm.sites.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Site requis.</p>
          </div>
        </div>

        <!-- <div class="form-group" show-errors>
          <label class="control-label" for="member">Salarié(e)s:</label>
          <select name="member" ng-model="vm.team.member" id="member" class="form-control">
            <option value="" disabled selected>Choisissez salarié(e)s</option>
            <option value="{{member._id}}" ng-repeat="member in members">
                {{member.lastname}} {{ member.firstname }}
            </option>
          </select>
          <div ng-messages="vm.form.teamForm.team.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Equipe requise.</p>
          </div>
        </div> -->

        <label class="control-label" for="member">Salarié(e)s:</label>
        <isteven-multi-select input-model="membersList" output-model="outputList" ng-model="vm.team.member" name="member" id="member" button-label="icon member firstname" item-label="icon member firstname lastname" max-label="4" translation="localLang" tick-property="ticked"></isteven-multi-select>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.team._id ? 'Mettre à jour' : 'Créer'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
