<section>
  <div class="page-header">
    <h1>{{vm.team._id ? 'Modifier équipe' : 'Ajouter équipe'}}</h1>
  </div>

  <div class="col-md-12">
    <form name="vm.form.teamForm" class="form-horizontal" ng-submit="vm.save(vm.form.teamForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nom:</label>
          <input name="name" type="text" ng-model="vm.team.name" id="name" class="form-control" placeholder="Nom" required>
          <div ng-messages="vm.form.teamForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le nom de l'équipe est requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="sites">Site:</label>
          <input name="sites" type="text" ng-model="vm.team.sites" id="sites" class="form-control" placeholder="Ex: La Coulée Verte" required>
          <div ng-messages="vm.form.teamForm.sites.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Le site de l'équipe est requis.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="member">Membre</label>
          <!-- <input name="member" type="text" ng-model="vm.team.member" id="member" class="form-control" placeholder="Name" required> -->
          <select name="member" ng-model="vm.lot.member" ng-options="opt.id as opt.name for opt in sites" class="form-control" required>
            <div ng-messages="vm.form.teamForm.member.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Les Membres sont requis pour l'équipe.</p>
            </div>
        </select>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.team._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
