<section>
  <div class="page-header">
    <h1>Equipes</h1>
  </div>

  <!-- <div class="columnsContainer" ng-controller="HomeController"> -->
  <div class="" ng-controller="HomeController">
    <!-- <div class="leftColumn"> -->
    <div class="col-md-7 col-xs-12">
      <div class="row">
        <leaflet center="center" geojson="geojson" controls="controls" markers="markers" defaults="defaults" legend="legend" url-hash-center="yes" tiles ="tiles" width="100%" height="93vh"></leaflet>
      </div>
    </div>

    <!-- <div class="rightColumn"> -->
    <div class="col-md-5 col-xs-12">
      <div class="list-group">
        <a ng-repeat="team in vm.teams"
        ui-sref="teams.view({ teamId: team._id })"
        class="list-group-item">
        <small class="list-group-item-text">
          Posted on
          <span ng-bind="team.created | date:'mediumDate'"></span>
          by
          <span ng-if="team.user" ng-bind="team.user.displayName"></span>
          <span ng-if="!team.user">Supprimer</span>
        </small>
        <h4 class="list-group-item-heading" ng-bind="team.name"></h4>
      </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.teams.$resolved && !vm.teams.length">
      Aucune équipe <a ui-sref="teams.create">en créé une</a>?
    </div>
  </section>
