<section>
  <div class="page-header">
    <h1 ng-bind="vm.team.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.team.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="teams.edit({ teamId: vm.team._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <span><p class="siteInfos">Site:</p></span>
  <p class="lead">{{ vm.team.site }}</p>

  <span><p class="siteInfos">Responsable:</p></span>
  <p class="lead" ng-bind="vm.team.manager">{{  }}</p>

  <span><p class="siteInfos">Salarié:</p></span>
  <p class="lead">{{ vm.team.member }}</p>
</section>