@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
body{
  max-width:100vw;
  max-height: 100vh;
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.splash{
  position:relative;
}
.bgSplash{
  background-image : url('../img/background/bg-SplashScscreen.jpg');
  background-size: cover;
  background-position: center;
  height:100vh;
  width:100%;
  position:absolute;
  z-index: -1;
  /*-webkit-filter: blur(10px);
  filter: blur(10px);*/
}
.connect{
  color:white;
  transform: translateY(-50%);
  background: linear-gradient(#0098b3, #00625c);
  padding-bottom:25px;
  width: 80%;
  max-width: 400px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50vh;

}
.connect a{
  color:white;
  text-decoration:underline;
}
/* Splash screen VLG */
.connect{
  transition-duration: 0.5s;
}
.connect:hover{
  -moz-box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.5);
  -o-box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 20px 20px 5px 0px rgba(0,0,0,0.5);
}
#titleScreen img{
  position: absolute;
  left: 0;
  top: 0;
}
#titleScreen h1{
  font-size: 5vw;
  position: absolute;
  z-index: 15;
  left: 1.8%;
  z-index: 50;
  top: 10.5vh;
  color: white;
}
#titleScreen img:first-child{
  z-index:15;
  left: 1.8%;
  width: 33%;
  z-index: 50;
  top: 1.5vh;
}
#titleScreen img:last-child{
  z-index:10;
  width: 30%;
}
