<section>
  <h1>Signatures</h1>
  <div class="list-group">
    <a ng-repeat="signature in vm.signatures"
       ui-sref="signatures.view({ signatureId: signature._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="signature.created | date:'mediumDate'"></span>
        by
        <span ng-if="signature.user" ng-bind="signature.user.displayName"></span>
        <span ng-if="!signature.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="signature.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.signatures.$resolved && !vm.signatures.length">
    No Signatures yet, why don't you <a ui-sref="signatures.create">create one</a>?
  </div>
</section>
