<!---
Formulaire "Reoindre l'équipe"(Post) --->
<div class="col-md-5">

    <!--- Crée le panneau principal --->
    <div class="panel panel-default">

        <!--- Titre Panneau --->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Ajouter un emplacement <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!--- Corps Panneau --->
        <div class="panel-body">

            <!--- Crée un formulaire (novalidate désactive la validation HTML, contrôle Angular) --->
            <form name ="addForm" novalidate>

                <!--- Boîtes de texte et autres entrées utilisateur.(Note: ng-model lie les valeurs à $scope dans Angular --->
                <div class="form-group">
                    <label for="username">Nom: <span class="badge">Tous les champs sont requis</span></label>
                    <input type="text" class="form-control" id="username" placeholder="OldandGold" ng-model="formData.username" required>
                </div>
                <label class="radio control-label">Genre</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                        Homme
                    </label>
                </div>
                <div class="radio" required>
                    <label>
                        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                        Femme
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radioother" value="What's it to ya?" ng-model="formData.gender">
                        Qu'est-ce que c'est pour vous?
                    </label>
                </div>
                <div class="form-group">
                    <label for="age">Âge</label>
                    <input type="number" class="form-control" id="age" placeholder="72" ng-model="formData.age" required>
                </div>
                <div class="form-group">
                    <label for="language">Language Favori</label>
                    <input type="text" class="form-control" id="language" placeholder="Fortran" ng-model="formData.favlang" required>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    <!--- Remarque: le bouton RefreshLoc est lié à addCtrl. Cela demande un rafraîchissement de l'emplacement vérifié HTML5. --->
                    <label for="verified">Emplacement vérifié HTML5? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Nan(Merci de m'envoyer ma carte ...)" ng-model="formData.htmlverified" readonly>
                </div>

                <!--- Bouton de soumission. Notez qu'il est rattaché à la fonction createUser() de addCtrl. Notez également ng-disabled qui empêche les prévisions précoces. --->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Envoyer</button>
            </form>
        </div>
    </div>
</div>
