<!--- Formulaire Rechercher d'un Coéquipier(Requête). --->
<div class="col-md-5">

    <!-- Créé le panneau principal -->
    <div class="panel panel-default">

        <!-- Titre Panneau -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Trouver un emplacement! <span class="glyphicon glyphicon-search"></span></h2>
        </div>

        <!-- Corps panneau -->
        <div class="panel-body">

            <!-- Création du formulaire -->
            <form name ="queryForm">

              <!--- Boîtes de texte et autres entrées utilisateur.(Note: ng-model lie les valeurs à $scope dans Angular --->
                <div class="form-group">
                    <label for="latitude">Votre Latitude</label>
                    <input type="text" class="form-control" id="latitude" placeholder="39.5" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Votre Longitude</label>
                    <input type="text" class="form-control" id="longitude" placeholder="-98.35" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    <label for="distance">Distance Max.</label>
                    <input type="text" class="form-control" id="distance" placeholder="500" ng-model="formData.distance">
                </div>

                <!--- Remarque: ng-true-value traduit les valeurs de contrôle en chaînes de caractères explicites --->
                <label>Genre</label>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkmale" value="Male" ng-model="formData.male" ng-true-value = "'Male'">
                        Homme
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkfemale" value="Female" ng-model="formData.female" ng-true-value="'Female'">
                        Femme
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkother" value="What's it to ya?" ng-model="formData.other" ng-true-value="'What\'s it to ya?'">
                        Qu'est-ce que c'est pour vous?
                    </label>
                </div>
                <div class="form-group">
                    <label for="minage">Âge Min.</label>
                    <input type="number" class="form-control" id="minage" placeholder="5" ng-model="formData.minage">
                </div>
                <div class="form-group">
                    <label for="maxage">Âge Max.</label>
                    <input type="number" class="form-control" id="maxage" placeholder="80" ng-model="formData.maxage">
                </div>
                <div class="form-group">
                    <label for="favlang">Language Favori</label>
                    <input type="text" class="form-control" id="favlang" placeholder="Fortran" ng-model="formData.favlang">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="verified" id="radiomale" value="True" ng-model="formData.verified"><strong>Inclure uniquement les sites HTML5 vérifiés?</strong>
                        </label>
                    </div>
                </div>

                <!--- Bouton de requête. Notez qu'il est rattaché à la fonction queryUsers() de queryCtrl. --->
                <button type="submit" class="btn btn-danger btn-block" ng-click="queryUsers()">Chercher</button>
            </form>
        </div>

        <!-- Panneau footer pour afficher le compte. Remarque: On affichera le compte uniquement si queryCount est supérieur à 0 --->
        <div ng-show="queryCount>0" class="panel-footer">
                <p class="text-center">Désolé, nous avons trouvé {{queryCount}} Coéquipiers.</p>
        </div>
    </div>
</div>
