<div class="page-header">
  <h1>{{vm.inventaire._id ? 'Editer inventaire' : 'Nouveau inventaire'}}</h1>
</div>

<div class="pull-right">
  <a ng-show="vm.inventaire._id" class="btn btn-primary" ng-click="vm.remove()">
    <i class="glyphicon glyphicon-trash"></i>
  </a>
</div>

<form name="vm.form.inventaireForm" class="form-horizontal" ng-submit="vm.save(vm.form.inventaireForm.$valid)" novalidate>
  <fieldset>
    <div class="form-row">
      <div class="col-md-4">
        <label class="control-label" for="nom">Nom</label>
        <input name="nom" type="text" ng-model="vm.inventaire.nom" id="nom" class="form-control" placeholder="Nom" required>
        <div ng-messages="vm.form.inventaireForm.nom.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Nom requis.</p>
        </div>
      </div>

      <div class="col-md-4">
        <label for="du">Du</label>
        <input type="date" name="du" id="du" ng-model="vm.inventaire.du" class="form-control" required>
        <div ng-messages="vm.form.inventaireForm.du.$error" role="alert">
          <p class="help-block error-text">Date requise</p>
        </div>
      </div>

      <div class="col-md-4">
        <label for="au">Au</label>
        <input type="date" name="au" id="au" ng-model="vm.inventaire.au" class="form-control" required>
        <div ng-messages="vm.form.inventaireForm.au.$error" role="alert">
          <p class="help-block error-text">Date requise</p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12">
        <label for="taches">Tâche(s) à réaliser</label>
        <select name="taches" ng-model="vm.inventaire.taches" id="taches" class="form-control">
          <option value="" disabled selected>Choisissez un taches</option>
          <option value="{{ vm.tache.name }}" data-ng-repeat="tache in vm.taches">
            {{tache.name}}
          </option>
        </select>
        <div ng-messages="vm.form.inventaireForm.taches.$error" role="alert">
          <p class="help-block error-text">Tâches requise</p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <label for="equipe">Équipe(s)</label>
        <select name="equipe" ng-model="vm.inventaire.equipe" id="equipe" class="form-control" required>
          <option value="" disabled selected>Choisissez un equipe</option>
          <option value="{{ vm.equipe.name }}" data-ng-repeat="equipe in vm.equipes">
            {{equipe.name}}
          </option>
        </select>
        <div ng-messages="vm.form.inventaireForm.equipe.$error" role="alert">
          <p class="help-block error-text">Équipe requise</p>
        </div>
      </div>

      <div class="col-md-6">
        <label for="site">Site(s)</label>
        <select name="site" ng-model="vm.inventaire.site" id="site" class="form-control" required>
          <option value="" disabled selected>Choisissez un site</option>
          <option value="{{ vm.site.name }}" data-ng-repeat="site in vm.sites">
            {{site.name}}
          </option>
        </select>
        <div ng-messages="vm.form.inventaireForm.site.$error" role="alert">
          <p class="help-block error-text">Site requis</p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-default">{{vm.inventaire._id ? 'Mettre à jour' : 'Créer'}}</button>
      </div>
    </div>
    </div>
  </fieldset>
</form>
