<section ng-app="inventaires">
  <div class="page-header">
    <h1>Inventaires</h1>
  </div>

  <table st-table="options" class="table table-striped">
    <thead>
      <tr>
        <th st-ratio="15" st-sort="modele">Modèle</th>
        <th st-ratio="15" st-sort="marque">Marque</th>
        <th st-ratio="15" st-sort="quantite">Quantité</th>
        <th st-ratio="15" st-sort="status">Status</th>
        <th st-ratio="15" st-sort="lieu">Lieu</th>
        <th st-ratio="15" st-sort="type">Type</th>
      </tr>

      <tr>
        <th>
          <input st-search="modele" placeholder="rechercher par modèle" class="input-sm form-control" type="search" />
        </th>
        <th>
          <input st-search="marque" placeholder="rechercher par marque" class="input-sm form-control" type="search" />
        </th>
        <th>
          <input st-search="quantite" placeholder="rechercher par quantite" class="input-sm form-control" type="search" />
        </th>
        <th>
          <input st-search="status" placeholder="rechercher par status" class="input-sm form-control" type="search" />
        </th>
        <th>
          <input st-search="lieu" placeholder="rechercher par lieu" class="input-sm form-control" type="search" />
        </th>
        <th>
          <input st-search="{{selectedPredicate}}" placeholder="bound predicate" class="input-sm form-control" type="search" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in options">
        <td st-ratio="15">{{row.modele}}</td>
        <td st-ratio="15">{{row.marque | uppercase}}</td>
        <td st-ratio="15">{{row.quantite}}</td>
        <td st-ratio="15">{{row.status}}</td>
        <td st-ratio="15">{{row.lieu}}</td>
        <td st-ratio="15">{{row.type}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-items-by-page="10" st-pagination="" st-template="/modules/inventaires/client/views/pagination.custom.html"></div>
        </td>
      </tr>
    </tfoot>
  </table>

</section>