<section>
  <div class="page-header">
    <h1>Réglages</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Editer Mon Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Changer Photo Profile</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">Changer mot de passe</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Gérer les comptes réseaux sociaux</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
