/*Layout*/
.navbar {
  float: right;
}
.container{
  max-width: 100%;
}
.map{
  float: left;
  width: 60%;
}
/*.content{
  width: 100%;
}*/

/* User Interface */
.navbar-inverse{
  border-radius: 0;
}
.navbar-header{
  float: none;
}

.navbar-nav {
  float: none;
}
@media (min-width: 768px){
  .navbar-nav {
      float: none;
  }
}
/* Affichage de chaques sites */

.displayHome{
  max-height: 80vh;
  overflow: hidden;
}

.siteInfos span {
  font-weight: bold;
}

.siteInfos img{
  width:100%;
}

#map-info{
  padding-right: 8px;
  width: 103%;
  max-height: 70vh;
  overflow-y: scroll;
}

/* Homepage structure */
.columnsContainer{
  position: inherit;
}

.leftColumn, .rightColumn{
  padding: 10px;
}

.rightColumn{
  width: 60%;
  float: right;
  position: relative;
  bottom: 60em;
  left: 7em;
}

.leftColumn {
  width: 100%;
  position: relative;
  right: 10em;
  bottom: 50px;
}

MEDIA QUERIES
@media screen and (min-width: 760px) {
  header.navbar.navbar-inverse.ng-scope{
    width: 50%;
  }

  .leftColumn {
    margin-right: 19.5em;
  }

  .rightColumn {
    position: absolute;
  }
}
