/*Layout*/
header.navbar.navbar-inverse.ng-scope{
  width:40%;
  display: inline-block;
  float: right;
  font-size: 30px;
}
.container{
  max-width: 100%;
}
.map{
  float: left;
  width: 60%;
  display: inline-block;}
.content{
  margin-top: 0;
  vertical-align: top;
  width: 40%;
  display: inline-block;
  float: right;
}

/* User Interface - nav */
.navbar-inverse{
  border-radius: 0;
}
.navbar-header{
  float: none;
}
.navbar-brand{
  padding: 42px 15px;
  font-size: 30px;
}
.navbar-nav {
    float: none;
  }
  @media (min-width: 768px){
    .navbar-nav {
        float: none;
    }
  }
.navbar{
  padding-top: 25px;
  border: none;
}

.navbar-inverse{
background-image:linear-gradient(#0098b3, #00615b);
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand{
  color:white;
}
.header-profile-image{
  width: 80px;
  height: 80px;
  opacity: 1;
  border:4px solid white;
}
/*.ng-scope .dropdown-toggle{
  border-left: 3px;
  background-color: white;
  color: #af8f5c;
  border-color: #af8f5c;
  border-style: solid;
  border-bottom: 3px;
}*/

/* content */
.content h1, .content h2, .content h3, .content h4{
  color:#af8f5c;
}
